.card-videopage{
    display: flex;
    margin-left: 60px;
    margin-top: 20px;
    
}
.imgvideo{
    width: 250px;
    height: 150px;
    border-radius: 10%;
    object-fit: cover;
}
.info{
    margin-left: 20px;
}
.text-info{
    font-weight: 500;
}